body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #fcc949;
  --darktext: #1d1e18;
  --light: #f6f8ff;
  --secondary: #3c6e71;
  --softyellow: lightgoldenrodyellow;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  background-color: var(--softyellow);
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--darktext);
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--light);
  font-size: 30px;
  margin: auto;
}

h2 {
  color: var(--darktext);
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  height: 50px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgoldenrodyellow;
}

.menu-items {
  display: none;
}

#logo {
  width: 150px;
  margin-left: -20px;
}

.hero {
  background: url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDUwNDI2ODJ8&ixlib=rb-4.0.3&q=85");
  background-size: cover;
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
}

.hero,
main,
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
  padding: 20px;
  background-color: lightgoldenrodyellow;
}

.card-container {
  margin-top: 20px;
  flex-direction: column;
}

.card {
  width: 350px;
  background-color: white;
  margin: 25px;
  padding: 25px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.card > * {
  margin: 10px 0;
}

.card > p {
  font-size: 10px;
  opacity: 0.8;
}

.card > h3 {
  color: var(--primary);
}

.cta-button {
  margin: 20px auto;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--light);
  font-weight: 600;
  font-size: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cta-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(1.1);
}

.cta-button:active {
  opacity: 0.8;
}

/*Week2 Edits*/

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  height: 100%;
  width: 40%;
  min-width: 100px;
  z-index: 3;
  opacity: 0.85;
  padding: 20px;
}

.fa-xmark {
  align-self: flex-end;
  font-size: larger;
}

.mobile-menu a {
  margin-top: 20px;
  font-weight: 500;
}

.hidden {
  display: none;
}

/*Media Queries*/

@media only screen and (min-width: 501px) {
  h1 {
    font-size: 35px;
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 38%;
    margin: 10px;
  }

  .card > h3 {
    font-size: 20px;
  }

  .card > p {
    font-size: 12px;
    margin: 8px 0;
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  .hamburger-menu,
  .mobile-menu {
    display: none;
  }

  .menu-items {
    display: block;
  }

  .menu-items > a {
    margin: 0 10px;
    font-weight: 500;
    font-size: 12px;
  }
}
